#ENV DEV
REACT_APP_API_URL = "http://203.171.21.222:8601"
REACT_APP_DEFAULT_CATEGORY_NOTE_IMAGES = "http://203.171.21.222:8601/images/note_cashback.png"

#ENV LIVE
#REACT_APP_API_URL = "https://api.100man.io"
#REACT_APP_DEFAULT_CATEGORY_NOTE_IMAGES = "https://api.100man.io/uploads/1626489016386-note_cashback.png"



//tai khoan dang nhap: admin@gmail.com // 123123