.bg--EEE5FF {
    background-color: #eee5ff;
}
.c--8950FC {
    color: #8950fc;
}

.bg-FFFFFF {
    background: #ffffff !important;
}

.bg--C9F7F5 {
    background-color: #c9f7f5;
}
.c--1BC5BD {
    color: #1bc5bd;
}
.c--7E8299 {
    color: #7e8299;
}
.border-top-EBEDF3 {
    border-top: 1px solid #ebedf3;
}
.c--FFFFFF {
    color: #ffffff;
}
.bg--FFFFFF {
    background-color: #ffffff;
}
.c--686868 {
    color: #686868;
}
.c--F4B403 {
    color: #f4b403;
}
.border-016067 {
    border: 1px solid #016067;
}
.c-016087 {
    color: #016087;
}
.c--0071a1 {
    color: #0071a1;
}
.c--32373c {
    color: #32373c;
}
.bg-F5F5F5 {
    background-color: #f5f5f5;
}
.c-0073AA {
    color: #0073aa;
}
.bg-0073AA {
    background-color: #0073aa;
}
.c-AA0000 {
    color: #aa0000;
}
.c--23282D {
    color: #23282d;
}
.c--555D66 {
    color: #555d66;
}
.c-666666 {
    color: #666666;
}
.bg-EAEDF4 {
    background-color: #eaedf4;
}
.c-000000 {
    color: #000000;
}

.bg-E6F8FD {
    background: #e6f8fd;
}
.c--3F4254 {
    color: #3f4254;
}
.c-B5B5C3 {
    color: #b5b5c3;
}

.bg-F64E60 {
    background: #f64e60;
}

.c-F64E60 {
    color: #f64e60;
}

.bg-9EBC30 {
    background: #9ebc30;
}

.c-000000D9 {
    color: #000000d9;
}

.c-3699FF {
    color: #3699ff;
}

.c-1BC5BD {
    color: #1bc5bd;
}

.c-FFFFFF {
    color: #ffffff;
}

.c-343434 {
    color: #343434;
}

.c-FF0000 {
    color: #ff0000;
}

.c-brown {
    color: rgb(129, 65, 65) !important;
}

.c-3737B3 {
    color: #3737b3 !important;
}

.c-008080 {
    color: #008080 !important;
}

.c-814141 {
    color: #814141 !important;
}

.c-7D6D8B {
    color: #7D6D8B !important;
}

.c-FFBC9B {
    color: #FFBC9B !important;
}

.c-212121 {
    color: #212121 !important;
}

.bg-C5C5C5 {
    background: rgb(234, 236, 240) !important;
}

.c-333 {
    color: #333;
}